:root {
  --fifty: #cfcbca;
  --thirty: #ad977a;
  --ten: #8c271e;
  /* --thirty50: #5c9ead36; */
  --dark: rgb(57, 57, 57);
  --text-gap: 1rem;
  --header-gap: 3rem;
  --header-font-fam: "Vidaloka", serif;
  --main-font-fam: "Roboto", sans-serif;
  --btn-radius: 0.5rem;
  --btn-padding: 0.5rem 1rem;
  --font-size: 1rem;
  --section-heading: calc(var(--font-size) * 1.5);
  --box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: var(--main-font-fam);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-fam);
  color: var(--thirty);
  text-transform: uppercase;
  font-size: var(--section-heading);
}

body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

body.darken::before {
  background-color: rgba(0, 0, 0, 0.504);
  z-index: 5;
}

.hero {
  /* padding: 1rem; */
  background-color: var(--fifty);
}

.hero {
  height: 100vh;
  background-image: url(/blackwhitebarb.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 50%;
  z-index: 0;
}

.hero-text {
  position: relative;
  z-index: 1;
  padding: var(--text-gap);
}

.hero-text a {
  background-color: var(--ten);
  text-decoration: none;
  align-self: center;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  color: var(--thirty);
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: var(--text-gap);
}

header p {
  font-size: 2rem;
  color: var(--thirty);
  position: static;
  z-index: 100;
}

.header-nav {
  position: absolute;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  top: -100vh;
  left: 0;
  width: 100%;
  padding-bottom: var(--text-gap);
  /* height: 50vh; */
  background-color: var(--dark);
  z-index: 10;
  border-radius: 0 0 var(--btn-radius) var(--btn-radius);
  transition: top 0.3s ease-in-out;
}

.header-nav ul {
  list-style: none;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--text-gap);
}

.header-nav ul li a {
  text-decoration: none;
  color: var(--thirty);
}

.book-btn {
  color: var(--fifty) !important;
  background-color: var(--ten);
  text-decoration: none;
  align-self: center;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
}

.header-nav .socials svg {
  fill: var(--thirty);
}

header.open nav {
  top: 0;
}

.close-icon,
.open .menu-icon {
  display: none;
}

.open .close-icon {
  display: flex;
}

button {
  background-color: unset;
  border: none;
  position: static;
  z-index: 100;
}

svg {
  fill: var(--thirty);
}

.section {
  margin-bottom: 3rem;
}

.hero-text,
.crew,
.services,
.testimonials,
.contact-us,
footer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: var(--header-gap);
}

.about-text-c .inner-container,
.testimonials,
.contact-us,
footer {
  padding: 0 2rem;
}

.about-us {
  padding-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-text-c {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}

.inner-container p {
  font-size: var(--font-size);
}

.about-img-c {
  overflow: hidden;
}

.about-img-c img {
  width: 150%;
}

.crew h2 {
  margin-top: 3rem;
}

.crew-container {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.max-crew-container {
  width: 200vw;
  display: flex;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  /* gap: 2rem; */
}

.crew-card {
  width: 100%;
  height: 50%;
  padding: 0 2rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--header-gap);
}

.crew-card-c {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--header-gap);
}

.crew-img-c {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.color {
  background-color: red;
  width: 400px;
  height: 400px;
}

.crew-container svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  z-index: 20;
  cursor: pointer;
}

.crew-img-c img {
  width: 300px;
}

.crew-img-one {
  transform: translate(-5%, 0%);
}

.crew-img-two {
  transform: translate(-0%, -20%);
}

.crew-text-c {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}

.crew-text-c p {
  font-size: var(--font-size);
}

.crew-name {
  color: var(--ten);
}

.right-Arrow {
  left: 92% !important;
}

.leftArrow {
  left: 8% !important;
  display: none;
}

.services {
  background-color: var(--dark);
  padding: 2rem 0;
  align-items: center;
}

.service-card-c {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
  /* border: 2px solid var(--thirty); */

  padding: 10px 1rem;

  position: relative;
}

.service-card-c::after {
  content: "";
  position: absolute;
  bottom: -210px;
  left: 0;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(
    rgb(57, 57, 57),
    rgba(57, 57, 57, 0.719),
    rgba(57, 57, 57, 0)
  );
}

.services-card {
  background-color: var(--thirty);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  height: 100%;
}

.services-card::after {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 110vw;
  opacity: 5%;
  z-index: -1;
  top: -200px;
  left: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(100%);
}

.services-card:nth-child(1)::after {
  background-image: url(/john-karlo-mendoza-idzUojjazCg-unsplash.webp);
}
.services-card:nth-child(2)::after {
  background-image: url(/BWStudent.webp);
}
.services-card:nth-child(3)::after {
  background-image: url(/BWSenior.webp);
}
.services-card:nth-child(4)::after {
  background-image: url(/BWkid.webp);
}
.services-card:nth-child(5)::after {
  background-image: url(/arthur-humeau-Twd3yaqA2NM-unsplash.webp);
}

.open.services-card:nth-child(odd):after {
  opacity: 20%;
  left: -20px;
  transform: scale(110%);
}

.open.services-card:nth-child(even):after {
  opacity: 10%;
  left: 20px;
  transform: scale(110%);
}

.services-card svg {
  fill: var(--dark);
  margin-right: 10px;
  z-index: 10;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.turn svg {
  transform: rotate(90deg);
}

.basic-info {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-font-fam);
  font-weight: 700;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.more-info {
  width: 100%;

  overflow: hidden;
  height: 0;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: var(--dark);
}

.services a {
  background-color: var(--ten);
  color: var(--thirty);
  padding: 0.5rem 1rem;
  border-radius: var(--btn-radius);
  display: block;
  width: 70%;
  text-transform: uppercase;
  font-weight: 700;
}

.more-info p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark);
}

.title {
  color: var(--dark);
  font-family: var(--main-font-fam);
  font-weight: 700;
  margin-right: auto;
  z-index: 10;
  font-size: var(--font-size);
}

.basic-info p {
  font-size: 1.5rem;
  color: var(--dark);
  /* background-color: var(--ten); */
  padding: 2px 5px;
  border-radius: 10px;
  /* z-index: 10; */
}

.services-card .basic-info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  /* background-color: var(--thirty); */
  transition: all 0.3s ease-in-out;
}

.gallery {
  height: 70vh;
  background-image: url(/insidebarberdarker.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gallery h2 {
  text-align: center;
}

.test-c {
  display: flex;
  flex-direction: column;
  gap: var(--header-gap);
}

.test-card {
  /* padding: 20px 10px; */
  /* background-color: var(--thirty); */
  /* border: 2px solid var(--thirty); */
  /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.564); */
  border-radius: 10px;
}

.test-card:nth-child(2) {
  text-align: end;
}

.test-card p {
  color: var(--fifty);
}

.test-name {
  font-family: var(--header-font-fam);
  color: var(--thirty) !important;
  font-size: 2rem;
}

.contact-us {
  padding-top: 2rem;
}

.contact-us-c {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}
.contact-container-text {
  display: flex;
  flex-direction: column;
  gap: var(--header-gap);
}

footer {
  background-color: var(--thirty);
  padding: 1rem 0;
  gap: var(--text-gap);
}

footer h4 {
  color: var(--fifty);
}

footer ul {
  list-style: none;
  color: var(--fifty);
}

footer ul li a {
  color: var(--fifty);
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--text-gap);
}

.socials svg {
  fill: var(--fifty);
}

@media only screen and (min-width: 640px) {
  p {
    font-size: 1.2rem;
  }
  .hero {
    background-position: 25%;
  }

  .hero-text h1 {
    font-size: 3.2rem;
  }
  .hero-text {
    font-size: 1.5rem;
  }

  .hero-text a {
    /* align-self: unset; */
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  .about-text-c {
    align-items: center;
  }

  .about-img-c img {
    width: 75%;
  }

  .inner-container {
    max-width: 75%;
  }

  .about-img-c {
    margin: 0 2rem;
  }

  .services,
  .gallery {
    margin: 0 2rem;
  }

  .services {
    padding-bottom: 2rem;
  }

  .service-card-c {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services-card {
    width: 48%;
    height: 150px;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
  }

  .basic-info .icon {
    display: none;
  }

  .basic-info {
    pointer-events: none;
  }

  .more-info {
    height: unset;
  }

  .services a {
    width: 46%;
    font-size: 1.5rem;
    box-shadow: var(--box-shadow);
  }

  .test-card {
    width: 50%;
  }

  .test-card:nth-child(2) {
    align-self: flex-end;
    width: 50%;
  }

  .contact-us {
    align-items: center;
    /* padding: 2rem; */
  }

  .crew-img-c {
    box-shadow: var(--box-shadow);
  }
}

@media only screen and (min-width: 750px) {
  .test-c {
    flex-direction: row;
  }

  .test-card {
    flex-grow: 1;
    text-align: center;
  }

  .test-card:nth-child(2) {
    align-self: unset;
    text-align: center;
  }

  .gallery {
    justify-content: center;
    gap: var(--header-gap);
    height: 50vh;
  }
}

@media only screen and (min-width: 1024px) {
  .mob-nav-btn {
    display: none;
  }

  .hero {
    height: 75vh;
  }

  header,
  .hero-text,
  .about-text-c {
    max-width: 1050px;
    margin: 0 auto;
  }
  .header-nav {
    display: flex;
    position: static;
    background-color: unset;
    flex-direction: row;
    justify-content: end;
  }

  .header-nav ul {
    flex-direction: row;
    margin-top: unset;
  }

  .header-nav ul li a:link,
  .header-nav ul li a:visited {
    color: var(--thirty);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }

  .header-nav ul li a:hover,
  .header-nav ul li a:active {
    color: var(--fifty);
  }

  .header-nav .socials svg {
    cursor: pointer;
    transition: fill 0.3s ease;
    fill: var(--thirty);
  }

  .header-nav .socials svg:hover {
    fill: var(--fifty);
  }

  .about-text-c {
    flex-direction: row;
  }

  .about-img-c {
    width: 49%;
  }
  .about-img-c img {
    width: 100%;
  }
  .inner-container {
    height: 100%;
    width: 50%;
    gap: 2rem;
  }

  .crew-container svg {
    display: none;
  }
}
